# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*.so

# Virtual environment
venv/
env/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# VSCode settings
.vscode/

# Data files
*.csv
*.xlsx

# SQLite databases
*.db

# OS files
.DS_Store
Thumbs.db

# Environment variables
.env
